
html, body, * {
    line-height: 1.5;
    font-family: Nunito, sans-serif;
    color: #005300;
}

.painel {
    margin: 20px;
    padding: 20px;
    border: 1px solid #b6b6b6;
}

p {
    margin: 5px;
}

h1, h2, h3, h4, h5 {
    margin: 10px;
}

table.table > thead > tr > th {
    font-weight: bold;
    text-align: center;
    border: #d1d1d1 1px solid;
}

table {
    caption-side: bottom;
    border-collapse: collapse;
}

table.table {
    width: 100%;
    margin-bottom: 1rem;
    border-color: #b6b6b6;
}

thead, tbody, tfoot, tr, td, th {
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    padding: 0.5rem;
}

table.table > tbody > tr > td {
    padding: 0.5rem;
    border-bottom-width: 1px;
    text-align: center !important;
}

table.table > tbody > tr:nth-of-type(even) > * {
    background-color: #e1e1e1;
}

thead > tr {
    background-color: #26BE43;
}

thead > tr > th {
    color: #f0ffff;
}

.center {
    text-align: center !important;
}

legend {
    font-size: x-large;
    font-weight: bold;
}

.filtro tbody td:nth-of-type(odd) {
    background: rgba(136, 255, 185, .2);
}

.btn {
    color: #fff;
    border: 1px solid #184991;
    border-radius: .3rem;
    background-color: #0d6efd;
    padding: 0.3rem 2.3rem;
    font-size: 30px;
    line-height: 2;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: bold;
    letter-spacing: .05rem;
}

fieldset {
    margin-bottom: 20px;
}

pre {
    font-size: small;
}

td > h2 {
    background-color: #1b9529;
    color: #ffffff;
}